# OS X temporary files
.DS_Store
*.m~
# *.mat
*.aux
*.log
*.out
*.txt
*~*

# Explicitly ignore some folders
testdata
testdata/*
gcdata
gcdata/*
archive
genomix_sparse
genomix_sparse/*
genomix_data/*
genomix_data
genomix/*
genomix
JunmiData/*